.container-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* place-items: center; */
    /* gap: 10px; */
    align-items: center;
    border-bottom: 2px rgb(244, 130, 96) solid;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    
}

.container-navbar-logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: black;
    align-items: baseline;
    font-size: 25px;
}
/* .container-search {
   justify-content: center;
} */
@media only screen and (min-width: 576px) and (max-width: 1000px){
    .container-navbar {
        flex-direction: row;
        place-items: center;
    }
}